%{~ if length(registries_mirrors) > 0 ~}
machine:
  registries:
    mirrors:
      %{~ for registry, endpoints in registries_mirrors ~}
      ${registry}:
        endpoints:
        %{~ for endpoint in endpoints.endpoints ~}
        - ${endpoint}
        %{~ endfor ~}
      %{~ endfor ~}
%{~ endif ~}